Load the data.

We have 2,985,217 properties with 58 columns

In [1]:
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
import pandas as pd
df_properties_2016 =  pd.read_csv("s3://zillow-kaggle-awsml-2020/properties_2016.csv")
df_train_2016 = pd.read_csv('s3://zillow-kaggle-awsml-2020/train_2016_v2.csv')

df_properties_2017 =  pd.read_csv("s3://zillow-kaggle-awsml-2020/properties_2017.csv")
df_train_2017 = pd.read_csv('s3://zillow-kaggle-awsml-2020/train_2017.csv')

print("df_properties_2016: %s" % str(df_properties_2016.shape))
print("df_train_2016: %s" % str(df_train_2016.shape))
print("df_properties_2017: %s" % str(df_properties_2017.shape))
print("df_train_2017: %s" % str(df_train_2017.shape))

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

df_properties_2016: (2985217, 58)
df_train_2016: (90275, 3)
df_properties_2017: (2985217, 58)
df_train_2017: (77613, 3)

In [3]:
df_properties = df_properties_2016.append(df_properties_2017)
df_train = df_train_2016.append(df_train_2017)

print(df_properties.shape)
print(df_train.shape)

(5970434, 58)
(167888, 3)

In [31]:
df = df_train.merge(df_properties, how='left', on="parcelid")
df.shape

(335776, 60)

In [32]:
features = ['fireplacecnt', 'fullbathcnt',
            'garagecarcnt','calculatedbathnbr', 
            'bedroomcnt', 'bathroomcnt',
           'finishedsquarefeet12', 'garagetotalsqft',
           'yearbuilt']

transaction_cols = ['parcelid','logerror', 'transactiondate']

In [33]:
si = SimpleImputer(fill_value=0, strategy='constant')
result = si.fit_transform(df[features].to_numpy())

In [34]:
transaction_data = df[transaction_cols].to_numpy()

In [36]:
transaction_data

array([[11016594, 0.0276, '2016-01-01'],
       [11016594, 0.0276, '2016-01-01'],
       [14366692, -0.1684, '2016-01-01'],
       ...,
       [12773139, 0.037128786701000005, '2017-09-21'],
       [12826780, 0.007203938731710001, '2017-09-25'],
       [12826780, 0.007203938731710001, '2017-09-25']], dtype=object)

In [45]:
transaction_data.shape

(335776, 3)

In [42]:
np.append(transaction_data, result, axis=1).shape

(335776, 12)

array(['parcelid', 'logerror', 'transactiondate', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'calculatedbathnbr', 'bedroomcnt',
       'bathroomcnt', 'finishedsquarefeet12', 'garagetotalsqft',
       'yearbuilt'], dtype='<U20')

In [50]:
df_result = pd.DataFrame(np.append(transaction_data, result, axis=1), columns=np.append(transaction_cols, features))

In [53]:
df_result["homeage"] = df_result.apply(lambda x: int(2020 - x.yearbuilt), axis=1)

,parcelid,logerror,transactiondate,fireplacecnt,fullbathcnt,garagecarcnt,calculatedbathnbr,bedroomcnt,bathroomcnt,finishedsquarefeet12,garagetotalsqft,yearbuilt,homeage
0,11016594,0.0276,2016-01-01,0,2,0,2,3,2,1684,0,1959,61
1,11016594,0.0276,2016-01-01,0,2,0,2,3,2,1684,0,1959,61
2,14366692,-0.1684,2016-01-01,0,3,2,3.5,4,3.5,2263,468,2014,6
3,14366692,-0.1684,2016-01-01,0,3,2,3.5,4,3.5,2263,468,2014,6
4,12098116,-0.004,2016-01-01,0,3,0,3,2,3,2217,0,1940,80
5,12098116,-0.004,2016-01-01,0,3,0,3,2,3,2217,0,1940,80
6,12643413,0.0218,2016-01-02,0,2,0,2,2,2,839,0,1987,33
7,12643413,0.0218,2016-01-02,0,2,0,2,2,2,839,0,1987,33
8,14432541,-0.005,2016-01-02,0,2,2,2.5,4,2.5,2283,598,1981,39
9,14432541,-0.005,2016-01-02,0,2,2,2.5,4,2.5,2283,598,1981,39
10,11509835,-0.2705,2016-01-02,0,4,0,4,4,4,3067,0,1982,38
11,11509835,-0.2705,2016-01-02,0,4,0,4,4,4,3067,0,1982,38
12,12286022,0.044,2016-01-02,0,1,0,1,2,1,1297,0,1939,81
13,12286022,0.044,2016-01-02,0,1,0,1,2,1,1297,0,1939,81
14,17177301,0.1638,2016-01-02,1,2,2,2.5,3,2.5,1763,0,1994,26
15,17177301,0.1638,2016-01-02,1,2,2,2.5,3,2.5,1763,0,1994,26
16,14739064,-0.003,2016-01-02,0,1,1,1,2,1,796,0,1984,36
17,14739064,-0.003,2016-01-02,0,1,1,1,2,1,796,0,1984,36
18,14677559,0.0843,2016-01-03,0,2,1,2,2,2,1260,0,1977,43
19,14677559,0.0843,2016-01-03,0,2,1,2,2,2,1260,0,1977,43
20,10854446,0.3825,2016-01-03,0,2,0,2,2,2,1417,0,1954,66
21,10854446,0.3825,2016-01-03,0,2,0,2,2,2,1417,0,1954,66
22,11672170,-0.0161,2016-01-03,0,4,0,4,5,4,3080,0,1995,25
23,11672170,-0.0161,2016-01-03,0,4,0,4,5,4,3080,0,1995,25
24,10949761,0.0344,2016-01-03,0,2,0,2,3,2,1484,0,1944,76
25,10949761,0.0344,2016-01-03,0,2,0,2,3,2,1484,0,1944,76
26,14665244,0.0816,2016-01-03,0,2,0,2,2,2,1249,0,2005,15
27,14665244,0.0816,2016-01-03,0,2,0,2,2,2,1249,0,2005,15
28,14148540,-0.045,2016-01-03,1,2,2,2,2,2,1367,400,1955,65
29,14148540,-0.045,2016-01-03,1,2,2,2,2,2,1367,400,1955,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
335746,11608641,-0.81651,2017-09-19,0,2,0,2,2,2,1281,0,1954,66
335747,11608641,-0.81651,2017-09-19,0,2,0,2,2,2,1281,0,1954,66
335748,11978003,-0.0624037,2017-09-19,0,2,0,2,3,2,1472,0,1927,93
335749,11978003,-0.0624037,2017-09-19,0,2,0,2,3,2,1472,0,1927,93
335750,11318911,0.0132682,2017-09-19,0,1,0,1,1,1,624,0,1944,76
335751,11318911,0.0132682,2017-09-19,0,1,0,1,1,1,624,0,1944,76
335752,10722237,0.0526298,2017-09-19,0,1,0,1,2,1,868,0,1977,43
335753,10722237,0.0526298,2017-09-19,0,1,0,1,2,1,868,0,1977,43
335754,12055795,-0.140881,2017-09-19,0,1,0,1,2,1,912,0,1947,73
335755,12055795,-0.140881,2017-09-19,0,1,0,1,2,1,912,0,1947,73
335756,12892446,0.319408,2017-09-19,0,3,0,3,4,3,2068,0,1967,53
335757,12892446,0.319408,2017-09-19,0,3,0,3,4,3,2068,0,1967,53
335758,12666457,0.0287326,2017-09-19,0,3,0,3,3,3,2200,0,2006,14
335759,12666457,0.0287326,2017-09-19,0,3,0,3,3,3,2200,0,2006,14
335760,10858613,-0.0754647,2017-09-19,0,2,0,2,2,2,1261,0,1971,49
335761,10858613,-0.0754647,2017-09-19,0,2,0,2,2,2,1261,0,1971,49
335762,10722691,0.0811962,2017-09-19,0,2,0,2,3,2,1570,0,1958,62
335763,10722691,0.0811962,2017-09-19,0,2,0,2,3,2,1570,0,1958,62
335764,12412492,0.00108238,2017-09-19,0,2,0,2,4,2,1633,0,1962,58
335765,12412492,0.00108238,2017-09-19,0,2,0,2,4,2,1633,0,1962,58
335766,10833991,-0.00224549,2017-09-20,0,3,0,3,3,3,1741,0,1980,40
335767,10833991,-0.00224549,2017-09-20,0,3,0,3,3,3,1741,0,1980,40
335768,11000655,0.0206154,2017-09-20,0,2,0,2,2,2,1286,0,1940,80
335769,11000655,0.0206154,2017-09-20,0,2,0,2,2,2,1286,0,1940,80
335770,17239384,0.0132086,2017-09-21,1,2,2,2,4,2,1612,560,1964,56
335771,17239384,0.0132086,2017-09-21,1,2,2,2,4,2,1612,560,1964,56
335772,12773139,0.0371288,2017-09-21,0,1,0,1,3,1,1032,0,1954,66
335773,12773139,0.0371288,2017-09-21,0,1,0,1,3,1,1032,0,1954,66
335774,12826780,0.00720394,2017-09-25,0,2,0,2,3,2,1762,0,1955,65
335775,12826780,0.00720394,2017-09-25,0,2,0,2,3,2,1762,0,1955,65

In [82]:
updated_features = features[:-1]
updated_features.append("homeage")
updated_features

['fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'calculatedbathnbr',
 'bedroomcnt',
 'bathroomcnt',
 'finishedsquarefeet12',
 'garagetotalsqft',
 'homeage']

In [84]:
df_result[updated_features] = df_result[updated_features].transform(lambda x: np.log(x.astype('float') + 1))

In [87]:
df_result.to_csv("log_transformed_data.csv")

In [89]:
!aws s3 cp log_transformed_data.csv s3://zillow-kaggle-awsml-2020/

upload: ./log_transformed_data.csv to s3://zillow-kaggle-awsml-2020/log_transformed_data.csv